<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ecommerce</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-700">
    <div class="flex justify-center items-center h-screen bg-gray-800 bg-opacity-50">
      <div class="w-96 p-8 bg-white rounded-lg shadow-lg">
        <form th:action="@{/payment/create}" method="post" th:object="${product}">
          <h2 class="font-bold text-4xl text-blue-800 text-center mb-6">Payment</h2>
          <hr class="mb-6">
          <div class="mb-4">
            <label for="price" class="text-lg block font-medium">Total</label>
            <div class="mt-2">
              <input type="number" id="price" th:field="*{price}" class="w-full border border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500" required>
            </div>
          </div>
          <div class="mb-4">
            <label for="currency" class="block text-lg font-medium">Currency</label>
            <div class="mt-2">
              <select name="currency" id="currency" class="w-full border border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500" th:field="*{currency}">
                <option value="">Select a currency</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label for="method" class="block text-lg font-medium">Method</label>
            <div class="mt-2">
              <select name="method" id="method" class="w-full border border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500" th:field="*{method}">
                <option value="">Select a method</option>
                <option value="paypal">PayPal</option>
                <option value="credit_card">Credit Card</option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label for="intent" class="block text-lg font-medium">Intent</label>
            <div class="mt-2">
              <select name="intent" id="intent" class="w-full border border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500" th:field="*{intent}">
                <option value="sale">Sale</option>
                <option value="authorize">Authorize</option>
                <option value="order">Order</option>
              </select>
            </div>
          </div>
          <div class="mb-4">
            <label for="description" class="block text-lg font-medium">Description</label>
            <input type="text" id="description" th:field="*{description}" class="w-full border border-gray-300 px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500" required>
          </div>
          <div>
            <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-lg font-medium shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Submit Payment</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>